# Exploring Data

In [2]:
import pandas as pd

In [5]:
df = pd.read_csv("data/Immoweb_Data_Scraper.csv",encoding='latin-1')
df

,locality,type,sub_type,price,type_of_sale,amount_of_rooms,area,has_full_kitchen,is_furnished,has_open_fire,has_terrace,terrace_area,has_garden,garden_area,surface_land,surface_area_plot,amount_of_facades,has_pool,building_state
0,Gent,house,mansion,819000,for sale,4.0,310.0,True,False,False,True,NaN,False,0,NaN,185,NaN,False,as new
1,Knokke-Heist,house,exceptional property,5850000,for sale,6.0,305.0,True,False,False,True,NaN,False,0,NaN,1629,4.0,False,good
2,Knokke-Heist Knokke,house,exceptional property,5900000,for sale,12.0,995.0,True,False,False,False,0.0,False,0,NaN,0,2.0,False,NaN
3,Schilde,house,villa,4995000,for sale,5.0,625.0,True,False,False,True,NaN,False,0,NaN,32390,4.0,False,NaN
4,Overijse,house,castle,9500000,for sale,12.0,1100.0,True,False,False,True,NaN,False,0,NaN,500000,4.0,True,as new
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11160,Antwerpen,house,apartment block,500000,for sale,7.0,280.0,True,False,False,False,0.0,False,0,NaN,77,3.0,False,to renovate
11161,Brussel,apartment,apartment,499000,for sale,4.0,161.0,True,False,False,False,0.0,False,0,0.0,0,4.0,False,as new
11162,Geraardsbergen Ophasselt,house,villa,499000,for sale,2.0,275.0,True,False,False,True,NaN,True,4390,NaN,4529,4.0,False,as new
11163,Seraing,house,house,499000,for sale,4.0,156.0,True,False,False,True,NaN,False,0,NaN,400,0.0,False,NaN
11164,SCHoNBERG,house,house,499000,for sale,5.0,234.0,True,True,True,True,NaN,False,0,NaN,3750,4.0,False,good

In [22]:
df.isna().sum()

#df[df['has_terrace'] == True]['terrace_area']
#df[df["surface_land"] == 0][["surface_land","surface_area_plot"]]

locality                0
type                    0
sub_type                0
price                   0
type_of_sale            0
amount_of_rooms       524
area                 1819
has_full_kitchen        0
is_furnished            0
has_open_fire           0
has_terrace             0
terrace_area         6790
has_garden              0
garden_area             0
surface_land         7636
surface_area_plot       0
amount_of_facades    2287
has_pool                0
building_state       3922
dtype: int64

In [26]:
p = df.dropna(subset=['area'])
p['land_area'] = p.apply(lambda x: x["area"] + x["surface_area_plot"],axis=1)
p = p.drop('terrace_area',1)
p = p.drop('surface_area_plot',1)
p = p.drop('surface_land',1)

p.isna().sum()

C:\Users\Frede\AppData\Local\Temp\ipykernel_14752\1121130667.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p['land_area'] = p.apply(lambda x: x["area"] + x["surface_area_plot"],axis=1)

locality                0
type                    0
sub_type                0
price                   0
type_of_sale            0
amount_of_rooms         0
area                    0
has_full_kitchen        0
is_furnished            0
has_open_fire           0
has_terrace             0
terrace_area         6371
has_garden              0
garden_area             0
surface_land         6680
surface_area_plot       0
amount_of_facades    1890
has_pool                0
building_state       2925
land_area               0
dtype: int64