# Exploring Data

In [117]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [154]:
df = pd.read_csv("data/Immoweb_Data_Clean.csv")
df

,locality,type,sub_type,price,type_of_sale,amount_of_rooms,area,has_full_kitchen,is_furnished,has_open_fire,has_terrace,has_garden,garden_area,amount_of_facades,has_pool,building_state,land_area,postcode
0,gent,house,mansion,819000,for sale,4.0,310.0,True,False,False,True,False,0,4.0,False,as new,495.0,9000.0
1,knokke-heist,house,exceptional property,5850000,for sale,6.0,305.0,True,False,False,True,False,0,4.0,False,good,1934.0,8300.0
2,schilde,house,villa,4995000,for sale,5.0,625.0,True,False,False,True,False,0,4.0,False,unknown,33015.0,2970.0
3,overijse,house,castle,9500000,for sale,12.0,1100.0,True,False,False,True,False,0,4.0,True,as new,501100.0,3090.0
4,saint-gilles,house,exceptional property,4950000,for sale,6.0,1500.0,True,False,False,True,True,3500,4.0,True,as new,6500.0,1060.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8539,oudergem,apartment,apartment,501500,for sale,2.0,102.0,True,False,False,True,False,0,2.0,False,as new,102.0,1160.0
8540,ninove,house,house,498521,for sale,3.0,176.0,True,False,False,False,False,0,4.0,False,unknown,1096.0,9400.0
8541,antwerpen,house,apartment block,500000,for sale,7.0,280.0,True,False,False,False,False,0,3.0,False,to renovate,357.0,2000.0
8542,brussel,apartment,apartment,499000,for sale,4.0,161.0,True,False,False,False,False,0,4.0,False,as new,161.0,1000.0
8543,seraing,house,house,499000,for sale,4.0,156.0,True,False,False,True,False,0,0.0,False,unknown,556.0,4100.0

In [ ]:
#CREATE X & Y

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [ ]:
reg = LinearRegression().fit(X, y)
reg.score(X, y)
reg.predict()